*{
  --base-gary-text-color: #cecece
}

.container{
  min-width: 250px;
}
.listItem{
  display: flex;
  max-width: 1280px;
  align-items: center;
}
.area{
  padding: 20px 20px;
  border: 1px solid var(--base-gary-text-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.title{
  font-weight: 600;
  margin: 10px 0;
}
.description{
  font-weight: 400;
  color: var(--base-gary-text-color);
  margin: 20px 0;
}
.done{
  background-color: #862b0d11;
  text-decoration:line-through;
  transition: all 0.5s ease-in;
  border-radius: 1.25rem;
}
.tag{
  padding: 5px;
  border-radius: 3px;
  background-color: var(--base-gary-text-color);
}
.titleInput{
  border-radius: 50px;
  outline: none;
  border: 1px solid var(--base-gary-text-color);
  padding: 3px;
  padding-left: 10px;
  max-width: 75%;
}
.endArea{
  display: flex;
  gap:5px;
  align-items: center;
}
@media screen and (min-width:760px) {
  .container{
    width: 45%;
  }
}

@media screen and (min-width:992px) {
  .container{
    width: 32%;
  }
}